
.left-img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-color: white;
    height: 100%;
    margin-left: 80px;
}

.auth-container {
    background-color: white;
}