<div *ngIf="project" class="project-detail-card">
  <h2>Detalles del Proyecto</h2>
  
  <p><strong>ID:</strong> {{ project.id }}</p>
  <p><strong>Nombre:</strong> {{ project.nombre }}</p>
  <p><strong>Descripción:</strong> {{ project.descripcion }}</p>
  <p><strong>Admin ID:</strong> {{ project.admin_id }}</p>
  <p><strong>Fecha de creación:</strong> {{ project.fecha_creacion }}</p>

  <div>
    <strong>Usuarios:</strong>
    <ul>
      <li *ngFor="let user of project.usuarios">{{ user.nombre }}</li>
    </ul>
  </div>

   <button mat-raised-button color="primary" (click)="openEditModal(project)">
    <mat-icon>edit</mat-icon> Editar
  </button>
  <button (click)="close.emit()">Cerrar</button>
</div>
